node_modules

/.cache
/build
.env
.dev.vars

.wrangler

.dev.vars*
!.dev.vars.example
.env*
!.env.example

# Created by https://www.toptal.com/developers/gitignore/api/remix+cloudflarepages
# Edit at https://www.toptal.com/developers/gitignore?templates=remix+cloudflarepages

### Remix+CloudflarePages ###
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map

# End of https://www.toptal.com/developers/gitignore/api/remix+cloudflarepages

# Created by https://www.toptal.com/developers/gitignore/api/remix
# Edit at https://www.toptal.com/developers/gitignore?templates=remix

### Remix ###
node_modules
/.cache
/build
/public/build
.env

# End of https://www.toptal.com/developers/gitignore/api/remix
.claude/