/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black;
  color-scheme: dark;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Custom Background Classes */

.bg-green {
  background: var(--Linear-Green, linear-gradient(111deg, #2EF171 0%, #10983F 74.5%));
}

.bg-orange {
  background: var(--Linear-Orange, linear-gradient(111deg, #FF6320 0%, #C2301E 74.5%));
}

.bg-yellow {
  background: var(--Linear-Yellow, linear-gradient(111deg, #FFE353 0%, #FFC121 74.5%));
}

/* Custom Text Color Classes for Selected Menu Items */
.text-blue-300 {
  color: #20D7FF;
}

.text-green-300 {
  color: #2EF171;
}

.text-orange-300 {
  color: #FF6320;
}

.text-yellow-300 {
  color: #FFE353;
}